
@{
    ViewBag.Title = "Thống kê - CSDL Khoa học";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="ThongKe" class="form-horizontal" method="post" accept-charset="utf-8">
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Thống kê theo:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="unit" class="form-control">
                                            <option value="total" selected>Tổng hợp</option>
                                            <option value="degree">Trình độ</option>
                                            <option value="quantum">Ngạch công chức</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        <br>Tính đến thời điểm (hiện tại)
                                    </span>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>TT</th>
                                            <th>Đơn vị công tác</th>
                                            <th class="text-center">Số lượng<br>Giáo sư danh dự</th>
                                            <th class="text-center">Số lượng<br>Giáo sư</th>
                                            <th class="text-center">Số lượng<br>Phó giáo sư</th>
                                            <th class="text-center">Số lượng<br>Tiến sĩ khoa học</th>
                                            <th class="text-center">Số lượng<br>Tiến sĩ</th>
                                            <th class="text-center">Số lượng<br>Thạc sĩ</th>
                                            <th class="text-center">Số lượng<br>Giảng viên</th>
                                            <th class="text-center">Số lượng<br>Nghiên cứu viên</th>
                                        </tr>
                                    </thead>
                                    @{ 
                                        // lấy thông tin các khoa
                                        QLKhoaHocEntities db = new QLKhoaHocEntities();
                                        List<DonViQL> listDVQL = db.DonViQLs.ToList();
                                        int stt = 1;
                                        int[] sum = new int[8];
                                    }
                                    <tbody>
                                        @foreach (var item in listDVQL)
                                        {
                                            <tr>
                                                <td>@stt</td>
                                                <td>@item.TenDonVI</td>
                                                @{
                                                    // lấy số giao sư của khoa
                                                    int nGSDD = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocHam == "GSDD").ToList().Count();
                                                    int nGS = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocHam == "GS").ToList().Count();
                                                    int nPGS = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocHam == "PGS").ToList().Count();
                                                    int nTSKH = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocVi == "TSKH").ToList().Count();
                                                    int nTS = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocVi == "TS").ToList().Count();
                                                    int nThS = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaHocVi == "ThS").ToList().Count();
                                                    int nGV = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && (p.MaNgachVienChuc == "GV" || p.MaNgachVienChuc == "GVC")).ToList().Count();
                                                    int nNCV = db.NhaKhoaHocs.Where(p => p.MaDonViQL == item.MaDonVi && p.MaNgachVienChuc == "NCV").ToList().Count();

                                                    // cộng dồn số lượng
                                                    int[] nType = { nGSDD, nGS, nPGS, nTSKH, nTS, nThS, nGV, nNCV };

                                                }

                                                @for (int i = 0; i < nType.Length; i++)
                                                {
                                                    sum[i] += nType[i];
                                                    <td class="text-center">
                                                        @if (nType[i] > 0)
                                                        {
                                                            @nType[i];
                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                                stt++;
                                            }
                                            <tr>
                                                <th colspan="2" class="text-center">Tổng cộng</th>
                                                @foreach (var item in sum)
                                                {
                                                    <th class="text-center">
                                                        @if (item > 0)
                                                        {
                                                            @item;
                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </th>
                                                }
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>



