@{
    ViewBag.Title = "Cổng đăng nhập";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<style>
    .login-box {
        margin: 7% auto;
        width: 360px;
    }
    .login-logo{
        background-color: #202C45;
    }
    .login-box-body {
        padding: 10px;
        background-color: lightgrey;
    }
    a.btn.btn-block.btn-google.btn-flat {
        background-color: #dd4b39;
        color: #fff;
    }
    .col-xs-4 {
        width: 33.33333333333333%;
        margin-left: 33%;
    }
</style>
<div class="container">
    <div class="login-box">
        <div class="login-logo text-center">
            <a href="#"><h3 style="color:white">Đăng nhập</h3></a>
        </div>
        <br />
        <!-- /.login-logo -->
        @if (ViewBag.Error != null)
        {
            <div class="text-center"><span class="alert alert-danger">@ViewBag.Error</span></div>
        }
        <br />
        <div class="login-box-body">

            <form action="Login" method="post" novalidate="novalidate">
                <div class="form-group has-feedback">
                    <input type="text" id="username" name="username" value="" class="form-control" placeholder="Tài khoản" required>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- Hoặc -</p>
                <a href="#" class="btn btn-block btn-google btn-flat">
                    Đăng nhập bằng tài khoản email Đại học Sư Phạm
                </a>
            </div>

            <a href="#" id="right" class="pull-right">Quên mật khẩu?</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
